# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Folder metadata
.Spotlight-V100
.Trashes

# Xcode user-specific state (do not commit)
**/xcuserdata/
**/*.xcuserstate

#Altera Quartus Prime generated
work/
**/work/
transcript
vsim.wlf
*.wlf
wlf*
*.log
*.bak
*.mti
*.mpf
*.dbg
*.db
Report/Submission/Presentation.mp4
